<%= render "layouts/navbaradmin" %>
<%= render 'form', order: @order %>
	<div class="text-center p-2 mt-2">
		<%= link_to 'Show', @order, class: "btn btn-info" %>
		<%= link_to 'Back', orders_path , class: "btn btn-danger"%>
	</div>
</div>



