<div class="col-sm-12 shadow p-3 mb-4 bg-white rounded order-complete-form">
    <div class="container">
        <div class="complete-title text-center">
            <img src="<%= asset_path 'shopping-cart.svg' %>" class="complete-img">
            <p class="title-order-complete">Cảm ơn bạn! Đơn đặt hàng của bạn đã được tiếp nhận!</p>
            <p class="notify-order-complete">Nhân viên cửa hàng sẽ đóng gói và vận chuyển đơn hàng của bạn trong vòng vài phút tới!</p>
        </div>
    </div>
</div>
