<h1>Sửa sản phẩm</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product ,class: "btn btn-danger mt-2 w-100"%>
<%= link_to 'Back', products_path ,class: "btn btn-danger mt-2 w-100"%>
