  <!-- Site footer -->
<footer class="site-footer mt-4">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <%= image_tag("logo_2.png", :class => "img-logo-footer")%>
            <p class="text-justify mt-2"><p class="title-footer">Siêu thị Orgavina</p>
				<p>Địa chỉ: 07 Nguyễn Hữu Thọ, Hòa Thuận Nam, Hải Châu, Đà Nẵng</p>

				<p>Mã số Doanh Nghiệp: </p>
			</p>
      <%= image_tag("logoSaleNoti.png", :class => "tb-bo-cong-thuong")%>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Về chúng tối</h6>
            <ul class="footer-links">
              <li><a href="#">Giới thiệu siêu thị</a></li>
			  <li><a href="#">Chính sách siêu thị</a></li>
			  <li><a href="#">Điều khoản siêu thị</a></li>
			  <li><a href="#">Quản lý chất lượng nguồn hàng</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Chăm sóc khách hàng</h6>
            <ul class="footer-links">
              <li>Số điện thoại: 02363. 52.53.77</li>
              <li>Email:</li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>

<!-- End Footer -->
<!-- Back to TOP -->
<a class="btn-back-to-top"></a>
<!-- End Back To TOP -->